<section class="section-carousel">
  <div id="carousel-banner" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-banner" data-slide-to="1"></li>
      <li data-target="#carousel-banner" data-slide-to="2"></li>
      <li data-target="#carousel-banner" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="/img/banner-pic-1.jpg">
      </div>
      <div class="item">
        <img src="/img/banner-pic-2.jpg">
      </div>
      <div class="item">
        <img src="/img/banner-pic-3.jpg">
      </div>
      <div class="item">
        <img src="/img/banner-pic-4.jpg">
      </div>
    </div>
    <ul class="carousel-list">
      <li data-target="#carousel-banner" data-slide-to="0" class="active">图片1</li>
      <li data-target="#carousel-banner" data-slide-to="1">图片2</li>
      <li data-target="#carousel-banner" data-slide-to="2">图片3</li>
      <li data-target="#carousel-banner" data-slide-to="3">图片4</li>
    </ul>
  </div>
</section>