<div class="cus-inform">
  <div class="title">请补全订单信息</div>
  <div class="inform-group clearfix">
    <label for="name">收件人姓名</label>
    <input id="name" required class="form-control float-right name" type="text">
  </div>
  <div class="inform-group clearfix">
    <label for="mobile">手机号码</label>
    <input id="mobile" required class="form-control float-right mobile" type="tel">
  </div>
  <div class="inform-group clearfix">
    <label for="postcode">邮政编码</label>
    <input id="postcode" required class="form-control float-right postcode" type="text">
  </div>
  <div class="inform-group clearfix">
    <label for="select" class="float-left">请选择省市</label>
    <div class="dropdown-group float-right">
    <% for (var i  = 0 ; i < 3 ; i ++) { %>
      <div class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="group-name"> </span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu group-list" role="menu">
        </ul>
      </div>
    <% } %>
    </div>
  </div>
  <div class="inform-group last clearfix">
    <label for="address">街道地址</label>
    <input id="address" required class="form-control float-right address" type="text">
  </div>
  <div class="clearfix submit-block">
    <button class="submit-all">提交订单</button>
  </div>
</div>
<footer class="cart-footer clearfix">
  <div class="sum-up-block clearfix">
    <div class="sum-up float-left">总计：￥ <span>0.00</span></div>
    <div class="balance float-left">结算(<span>0</span>)</div>
  </div>
</footer>