<footer class="footer clearfix">
  <a href="/recommand"><div class="footer-item float-left<%= type === 'recommand' ? ' active' : '' %>">推荐</div></a>
  <a href="/special"><div class="footer-item float-left<%= type === 'special' ? ' active' : '' %>">特价</div></a>
  <a href="/hot"><div class="footer-item float-left<%= type === 'hot' ? ' active' : '' %>">热门</div></a>
  <a href="/new"><div class="footer-item float-left<%= type === 'new' ? ' active' : '' %>">最新</div></a>
</footer>