<header class="clearfix">
  <div class="nav-list float-left">
    <a href="javascript:void(0)">
      <img class="logo" src="/img/logo.png" alt="">
      <!-- <span class="logo">LOGO</span> -->
    </a>
  </div>
  <div class="nav-list float-right">
    <a href="<%= isLogin ? '/account' : '/login' %>" class="btn-user">
      <i class="fa fa-user"></i>
      <span class="icon-text"><%= isLogin ? '个人中心' : '登录' %></span>
    </a>
  </div>
  <div class="nav-list float-right">
    <a href="/cart" class="btn-cart">
      <i class="fa fa-shopping-cart"></i>
      <span class="icon-text">购物车</span>
    </a>
  </div>
  <div class="nav-list float-right">
    <a href="javascript:void(0)" class="btn-search">
      <i class="fa fa-search"></i>
      <span class="icon-text">搜索</span>
    </a>
  </div>
</header>
<div class="search-box">
  <hr class="border-top">
  <div class="search-wrap">
    <div class="input-group">
      <input class="form-control input-search" type="search" placeholder="book title, author or isbn">
      <span class="input-group-btn">
        <button class="btn btn-default btn-confirm-search" type="button">search</button>
      </span>
    </div>
  </div>
</div>