<%- include index_header %>
<%- include carousel %>
<section class="section-recommand">
  <div class="title-block clearfix">
    <h4 class="title float-left">精品推荐</h4>
    <span class="more float-right"><a href="/recommand">全部 <i class="fa fa-angle-right"></i></a></span>
  </div>
  <div class="section-inner">
  <% for (var i = 0; i < 2; i++) { %>
    <div class="show-row clearfix">
    <% for (var j = 0; j < 3; j++) { %>
      <div class="show-block float-left">
        <a class="link-detail" href="javascript:void(0)" data-id="1"><img src="/img/book.jpg" alt=""></a>
        <div class="show-title"><a class="link-detail" href="javascript:void(0)" data-id="1">MacTalk·人生元编程</a></div>
      </div>
    <% } %>
    </div>
  <% } %>
  </div>
</section>
<hr class="section-seperate">
<section class="section-new">
  <div class="title-block clearfix">
    <h4 class="title float-left">最新上架</h4>
    <span class="more float-right"><a href="/new">全部 <i class="fa fa-angle-right"></i></a></span>
  </div>
  <div class="section-inner">
  <% for (var i = 0; i < 2; i++) { %>
    <div class="show-row clearfix">
    <% for (var j = 0; j < 3; j++) { %>
      <div class="show-block float-left">
        <a class="link-detail" href="javascript:void(0)" data-id="1"><img src="/img/book.jpg" alt=""></a>
        <div class="show-title"><a class="link-detail" href="javascript:void(0)" data-id="1">MacTalk·人生元编程</a></div>
      </div>
    <% } %>
    </div>
  <% } %>
  </div>
</section>
<%- include footer %>
<%- include tablist %>