<%- include header %>
<section class="login-section">
  <input class="form-control" type="text" placeholder="Username">
  <input class="form-control" type="text" placeholder="Password">
  <button class="btn-login">登录</button>
  <div class="forget-block clearfix">
    <span class="float-left">没有帐号？<a href="/register">注册</a></span>
    <a class="float-right" href="javascript:void(0)">忘记密码</a>
  </div>
</section>