<%- include header %>
<section class="login-section">
  <input class="form-control" type="text" placeholder="Username">
  <input class="form-control" type="password" placeholder="Password">
  <input class="form-control" type="password" placeholder="Confirm Password">
  <input class="form-control" type="email" placeholder="Email">
  <button class="btn-register">注册</button>
  <div class="forget-block clearfix">
    <span class="float-left">已经有帐号？<a href="/login">返回登录</a></span>
  </div>
</section>