<% var cataArray = ["小说", "杂志", "两性情感", "经管", "计算机", "科学与自然", "文学", "少儿", "生活", "传记", "旅游", "成功励志", "历史", "政治与军事", "艺术", "社会科学", "法律", "教育", "青春与动漫", "外语", "资讯及其他", "原创文学"]; %>
<div class="tablist-icon"><i class="fa tablist-fa fa-th-list"></i></div>
<div class="tablist">
<ul>
  <li class="tablist-title"><i class="fa fa-th-list"></i> 全部分类</li>
  <% for (var i = 0; i < cataArray.length; i++) { %>
  <li class="tablist-item"><a href="/catagory/<%= i - 0 + 1 %>"><%= cataArray[i] %></a></li>
  <% } %>
</ul>
</div>